{% extends 'base_aps.html' %}
{% block data %}

{% for mutasi in object_list %}
    <tr>     	
        <td><input type="checkbox" class="checkbox" name="cek" value="{{mutasi.nipeg}}"></td>        
        <td>{{ forloop.counter }}</td>
        <td>{{mutasi.nipeg}}</td>
        <td>{{mutasi.nama}}</td>
        <td>{{mutasi.jabatanSekarang}}</td>
        <td>{{mutasi.grade}}</td>
        <td>{{mutasi.tglJabTer}}</td>
        <td>{{mutasi.PendidikanTer}}</td>
        <td>{{mutasi.jabatanBaru}}</td>
        <td>{{mutasi.keterangan}}</td>
        <td>{{mutasi.noSk}}</td>
        <td>{{mutasi.tglSk}}</td>
        <td>{{mutasi.tglBerlaku}}</td>
        <td>{{mutasi.unitLama}}</td>
        <td>{{mutasi.unitPengirim}}</td>
        <td>{{mutasi.noPengirim}}</td>
        <td>{{mutasi.unitPenerima}}</td>
        <td>{{mutasi.noPenerima}}</td>
    	<td>{{mutasi.email}}</td>
    	<td>{{mutasi.noHp}}</td>

        {% if mutasi.terkirim %}
            <td>Telah Dikirim</td>
        {% else %}
        <td>Belum Dikirim</td>
        {% endif %}
        
        <td>
                <div class="d-block my-1">

                    <a href="{% url 'mutasi:pdf_aps' mutasi.id %}" title="Preview" class="btn btn-icon btn-info mb-1">
                        <i class="fa fa-eye"></i>
                    </a>

                    <a href="{% url 'mutasi:edit_aps' pk=mutasi.id %}" title="Edit" class="btn btn-icon btn-secondary mb-1">
                        <i class="fa fa-pencil-alt"></i>
                    </a>
                    <a href="{% url 'mutasi:deleteAPS' pk=mutasi.id %}" title="Hapus" class="btn btn-icon btn-danger" onclick="return confirm('Apakah anda yakin ingin menghapus data mutasi ini ?');">
                        <i class="fa fa-trash"></i>
                    </a>
        
                </div>
                
        </td>
    </tr>

{% endfor %}

{% endblock data %} 