{% extends 'base_phdp.html' %}

{% block data %}
<thead>
	<tr>
	    <th></th>
	    <th>No.</th>
	    <th>Periode</th>
	    <th>Nipeg</th>
	    <th>Nama</th>
	    <th>Grade</th>
	    <th>Skala Gaji Dasar Lama</th>
	    <th>Skala Gaji Dasar Baru</th>
	    <th>Nomor SK</th>
	    <th>Tanggal Berlaku</th>
	    <th>No HP</th>
	    <th>Email</th>
	    <th width=70>Status PDF</th>
	    <th>Aksi</th>
	</tr>
</thead>

<tbody>
{% for phdp in object_list %}
<tr>
    <td><input type="checkbox" class="checkbox" name="cek" value="{{phdp.nipeg}}">
    </td>
    <td>{{ forloop.counter }}</td>
    <td>{{phdp.periode}}</td>
    <td>{{phdp.nipeg}}</td>
    <td>{{phdp.nama}}</td>
    <td>{{phdp.grade}}</td>
    <td>{{phdp.skalaLama}}</td>
    <td>{{phdp.skalaBaru}}</td>
    <td>{{phdp.noSk}}</td>
    <td>{{phdp.tglBerlaku}}</td>
    <td>{{phdp.tglSk}}</td>
    <td>{{phdp.peg.noHp}}</td>
    <td>{{phdp.peg.email}}</td>
    {% if phdp.terkirim %}
        <td> Telah Dikirim </td>
    {% else %}
    <td> Belum Dikirim </td>
    {% endif %}
    <td>
        <div class="d-block my-1">
	        <a href="{% url 'talenta:PDFPhDP' phdp.id %}" title="Preview" class="btn btn-icon btn-info mb-1">
	            <i class="fa fa-eye"></i>
	        </a>

	        <a href="{% url 'talenta:phdpUpdate' pk=phdp.id %}" title="Edit" class="btn btn-icon btn-secondary mb-1">
	            <i class="fa fa-pencil-alt"></i>
	        </a>
	        <a href="{% url 'talenta:phdpDelete' pk=phdp.id %}" title="Hapus" class="btn btn-icon btn-danger" onclick="return confirm('Apakah anda yakin ingin menghapus data talenta ini ?');">
	            <i class="fa fa-trash"></i>
	        </a>
	    </div>
    </td>
</tr>
{% endfor %}
{% endblock data %}
