{% include 'head.html' %}
{% load static %}
    <!-- Potong kontennya disini - Awal -->
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Master Data Pegawai</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="index.html">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="pegawai.html">Master Data Pegawai</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="pegawai_create.html">Ubah Data</a>
                </li>
            </ul>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Ubah Data {{object.nama}}</div>
                </div>
                {% block data %}
                
                {% endblock data %}
            </div>
        </div>
    </div>
    <!-- Potong kontennya disini - Akhir -->
{% include 'footer.html' %}