{% load static %}
{% include 'head.html' %}
                <!-- Potong kontennya disini - Awal -->
                <div class="page-inner">
                    <div class="page-header">
                        <h4 class="page-title">Master Data Pegawai</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="index.html">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="pegawai.html">Master Data Pegawai</a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="pegawai.html">Lihat Data</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        {% if messages %}
                            <ul class="messages">
                            {% for message in messages %}
                            <li>
                                <div class="alert alert-success"><strong>{{ message }}</strong></div>
                            </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="card">
                            <div class="card-header card-header-tab">
                                <div class="card-header-title">
                                    <h4 class="card-title">Master Data Pegawai</h4>
                                </div>
                                <div class="btn-actions-pane-right">                                    
                                    <a href="{% url 'pegawai:tambah' %}" class="btn btn-primary">
                                        Tambah Data
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <div class="btn-group pb-2">
                                        <div class="col-md px-0">
                                            <div class="form-check pr-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="selectAll">
                                                    <span class="form-check-sign">Pilih Semua</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md py-1">
                                            <button type="submit" name="hapusPegawai" form='pegawaiForm' class="btn btn-danger px-2 py-1" onclick="return confirm('Apakah anda yakin ingin menghapus data pegawai ?');">
                                                Hapus Data
                                            </button>
                                        </div>
                                    </div>
                                    <form action='hapusPegawai' method='POST' id="pegawaiForm">
                                         {% csrf_token %}
                                    <table id="pegawaiTable" class="display table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>No.</th>
                                                <th>Prev. Personnel</th>
                                                <th>Personnel Number</th>
                                                <th>Business Area</th>
                                                <th width=150>Email</th>
                                                <th>No. Telepon</th>
                                                <th>Aksi</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th>No.</th>
                                                <th>Prev. Personnel</th>
                                                <th>Personnel Number</th>
                                                <th>Business Area</th>
                                                <th width=150>Email</th>
                                                <th>No. Telepon</th>
                                                <th>Aksi</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {% block data %}
                                            
                                            {% endblock data %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Potong kontennya disini - Akhir -->
            {% include 'footer.html' %}