{% load static %}
{% include 'head.html' %}
<div class="page-inner">
                    <div class="page-header">
                        <h4 class="page-title">Surat Penugasan PLT</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="index.html">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="surat_penugasan.html">Surat Penugasan PLT</a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="surat_penugasan.html">Lihat Data</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12">

                        {% if messages %}
                            <ul class="messages">
                            {% for message in messages %}
                            <li>
                                <div class="alert alert-success"><strong>{{ message }}</strong></div>
                            </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="card">
                            <div class="card-header card-header-tab">
                                <div class="card-header-title">
                                    <h4 class="card-title">Surat Penugasan PLT</h4>
                                </div>
                                <div class="btn-actions-pane-right">
                                    <a href="{% url 'mutasi:relod' 'plt' %}" class="btn btn-warning">
                                        Reload
                                    </a>
                                    <a href="{% url 'mutasi:tambah_plt' %}" class="btn btn-primary">
                                        Tambah Data
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <p>Jumlah plt yang belum tersambung dengan pegawai : {{pegNone.count}}</p>
                                    <div class="btn-group pb-2">
                                        <div class="col-md px-0">
                                            <div class="form-check pr-0">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="selectAll">
                                                    <span class="form-check-sign">Pilih Semua</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md py-1">
                                            <button type="submit" name = "kirimPLTWa" form='mutasiForm' class="btn btn-success px-2 py-1">
                                                Kirim Notifikasi Whatsapp
                                            </button>
                                        </div>
                                        <div class="col-md py-1 px-0">
                                            <button type="submit" name = "kirimPLT" form='mutasiForm' type="submit" class="btn btn-warning px-2 py-1">
                                                Kirim Email
                                            </button>
                                        </div>
                                        <!--
                                        <div class="col-md py-1">
                                            <button type="submit" name = "hapusPLT" form='mutasiForm' class="btn btn-danger px-2 py-1">
                                                Hapus Data
                                            </button>
                                        </div>
                                    -->
                                    </div>
                                     <form action='kirim' method='POST' id="mutasiForm">
                                         {% csrf_token %}
                                    <table id="stTable" class="display table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>No.</th>
                                                <th>Nomor Induk</th>
                                                <th>Nama</th>
                                                <th width="100">Nomor Surat Tugas PLT</th>
                                                <th width=300>Usulan Jabatan Baru Tanpa PLT</th>
                                                <th width=300>Jabatan Baru PLT</th>
                                                <th width=100>Email Pengelola</th>
                                                <th width=100>No HP Pengelola</th>
                                                <th width=100>Status PDF</th>
                                                <th>Aksi</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th>No.</th>
                                                <th>Nomor Induk</th>
                                                <th>Nama</th>
                                                <th width="100">Nomor Surat Tugas PLT</th>
                                                <th width=300>Usulan Jabatan Baru Tanpa PLT</th>
                                                <th width=300>Jabatan Baru PLT</th>
                                                <th width=100>Email Pengelola</th>
                                                <th width=100>No HP Pengelola</th>
                                                <th width=100>Status PDF</th>
                                                <th>Aksi</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {% block plt %}

                                            {% endblock plt %}
                                        </tbody>
                                    </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% include 'footer.html' %}